* {
  font-family: Roboto, sans-serif;
}


nav,
footer {
  background: #a2dbfa;
}

nav > ul > li:hover {
  background-color: #fff;
}

nav > ul {
  list-style: none;
}

.book-list > li:nth-child(odd) {
  background: #a2dbfa;
}

.book-list > li {
  list-style: none;
}

#main-section{
  margin-bottom: 80px;
}