* {
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}

nav,
footer {
  background: #a2dbfa;
}

nav > ul > li:hover {
  background-color: #fff;
}

li:nth-child(odd) {
  background: #a2dbfa;
}
